body  {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 98vh; }

#rnds_label {
        font-size: 35px;
        }

#foot_box {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    font-style: italic;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 4.5vw;
}

#foot_content {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 3vw;
}

#ply_btn {
    margin:30px;
    width:10vw;
}

#ply_btn:hover {
    background-color: blue;
}


